<h1 class="city-head"><%=@trip.city%></h1>
  <% @trots.each do |trot|%>

    <div class="trot">
      <div class="inner-trot">
        <h2 class="trot-name">
          ⦁ &nbsp;&nbsp;<%= trot.name %>&nbsp;&nbsp; ⦁
        </h2>
        <img src="<%= trot.image_url%>" alt="">
        <p class="caption"> 
          " <%= trot.description %>.." 
        </p> 


        <ul class="comment-box">
          <% trot.comments.each do |comment|%>
          <li>
              <%= comment.name %>: <%= comment.body %>
          </li>
          <% end %>
        </ul>


        <form class="comment-form" action="/comment/go" method="post">
          <input type="hidden" name="trot_id" value="<%= trot.id %>">
          <input class="comment-name" name="name" type="text" value="your name">
          <input class="comment-body" name="body" type="text" value="comment here...">

          <button class="submit-comment">
          ▲
          </button>

        </form> <!-- end of comment-->

        <form action="/delete/go/<%= trot.trip_id %>/<%= trot.id %>" method="post">
          <input type="hidden" value="delete" name="_method"> 
          <button class="delete-trot">x</button>
        </form> <!-- end of delete button-->    
      </div> <!-- end of inner-trot -->
    </div> <!-- end of trot -->

  <% end %>


<h3>GO WHERE</h3>
  <form action="/go" method="post">
    <label for="">Name</label>
      <input name="name" type="text">
    <label for="">Image url</label>
      <input name="image_url" type="text">
    <label for="">Description</label>
      <input name="description" type="text">
      <input type="hidden" name="trip_id" value="<%= @trip.id %>">
      <input type="hidden" name="category" value="go">
    <button>PUSH IT UP BABE</button>
  </form>

