<h1 class="city-head"><%=@trip.city%></h1>
  <% @trots.each do |trot|%>

    <div class="trot">
      <div class="inner-trot">
        <h2 class="trot-name">
          ⦁ &nbsp;&nbsp;<%= trot.name %>&nbsp;&nbsp; ⦁
        </h2>
        <img src="<%= trot.image_url%>" alt="">
        <p class="caption"> 
          " <%= trot.description %>.." 
        </p> 

        <ul class="comment-box">
          <% trot.comments.each do |comment|%>
          <li>
              <%= comment.name %>: <%= comment.body %>
          </li>
          <% end %>
        </ul>

        <form class="comment-form" action="/comment/sleep" method="post">
          <input type="hidden" name="trot_id" value="<%= trot.id %>">
          <input class="comment-name" name="name" type="text" placeholder="name">
          <input class="comment-body" name="body" type="text" placeholder="comment here...">

          <button class="submit-comment">
          ▲
          </button>

        </form> <!-- end of comment-->

        <form action="/delete/sleep/<%= trot.trip_id %>/<%= trot.id %>" method="post">
          <input type="hidden" value="delete" name="_method"> 
            <button class="delete-trot">
              <i class="material-icons md-light md-24">delete_forever</i>
            </button>
        </form> <!-- end of delete button-->    

      </div> <!-- end of inner-trot -->
    </div> <!-- end of trot -->

  <% end %>

<i class="material-icons md-light md-96 location show-hid">location_on</i>

<div class="trot-group hidden-form">
  <h3 class="trot-head add-head">SLEEP WHERE</h3>
    <form class="add-form" action="/sleep" method="post">
      <label for="">Name</label>
        <input class="name-ipt" name="name" type="text">
      <label for="">Image url</label>
        <input class="img-ipt" name="image_url" type="text">
      <label for="">Description</label>
        <input class="capt-ipt" name="description" type="text">
        <input type="hidden" name="trip_id" value="<%= @trip.id %>">
        <input type="hidden" name="category" value="sleep">

    <button>
      <i class="material-icons md-light md-36 add-icon">add</i>
    </button>
  </form>
</div>

